* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.buttons .max-width {
  max-width: 4026px;
  margin: 0 auto;
  border: 1px solid red;
  padding: 16px;
}



/* All Groups Display properties */
.buttons .max-width .buttons-g1-row-1,
.buttons .max-width .buttons-g1-row-2 ,
.buttons .max-width .buttons-g1-row-3,
.buttons .max-width .buttons-g1-row-4{
  display: flex;
  gap: 31px;

}


/* All Buttons Common Styling */
.buttons .max-width .buttons-g1-row-1 .btn,
.buttons .max-width .buttons-g1-row-2 .btn,
.buttons .max-width .buttons-g1-row-3 .btn,
.buttons .max-width .buttons-g1-row-4 .btn {
  border: none;
  width: 106px;
  height: 36px;
  border-radius: 8px;
  background-color: #7f56d9;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  margin-top: 16px;
}



/* All Hover Effects Styling Group 1 */

.buttons .max-width .buttons-g1-row-1 .btn:hover {
  opacity: 85%;
  cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.buttons .max-width .buttons-g1-row-2 .btn:hover {
  opacity: 85%;
  cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.buttons .max-width .buttons-g1-row-3 .btn:hover {
  opacity: 85%;
  cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.buttons .max-width .buttons-g1-row-4 .btn:hover {
  opacity: 100%;
  cursor: pointer;
  background-color: #7f56d9;
  transition: all 0.5s ease-in-out;
}




/* Row 1 */

.buttons .max-width .buttons-g1-row-1 #btn-row1-2 {
  width: 110px;
  height: 40px;
}
.buttons .max-width .buttons-g1-row-1 #btn-row1-3 {
  width: 125px;
  height: 44px;
}
.buttons .max-width .buttons-g1-row-1 #btn-row1-4 {
  width: 129px;
  height: 48px;
}
.buttons .max-width .buttons-g1-row-1 #btn-row1-5 {
  width: 156px;
  height: 60px;
}

/* Row 2 */
.buttons .max-width .buttons-g1-row-2 .btn {
  background-color: #6941c6;
    transition: all 0.5s ease-in-out;
}
.buttons .max-width .buttons-g1-row-2 #btn-row2-2 {
  width: 110px;
  height: 40px;
}
.buttons .max-width .buttons-g1-row-2 #btn-row2-3 {
  width: 125px;
  height: 44px;
}
.buttons .max-width .buttons-g1-row-2 #btn-row2-4 {
  width: 129px;
  height: 48px;
}
.buttons .max-width .buttons-g1-row-2 #btn-row2-5 {
  width: 156px;
  height: 60px;
}


/* Row 3 */


.buttons .max-width .buttons-g1-row-3 .btn {
    background-color: #7F56D9;
    box-shadow:0px 0px 0px 4px rgba(244, 235, 255, 1);
      transition: all 0.5s ease-in-out;
  }
  .buttons .max-width .buttons-g1-row-3 #btn-row3-2 {
    width: 110px;
    height: 40px;
  }
  .buttons .max-width .buttons-g1-row-3 #btn-row3-3 {
    width: 125px;
    height: 44px;
  }
  .buttons .max-width .buttons-g1-row-3 #btn-row3-4 {
    width: 129px;
    height: 48px;
  }
  .buttons .max-width .buttons-g1-row-3 #btn-row3-5 {
    width: 156px;
    height: 60px;
  }



/* Row 4 */


.buttons .max-width .buttons-g1-row-4 .btn {
    background-color: #E9D7FE;
    box-shadow:0px 1px 2px 0px rgba(10, 13, 18, 0.05);
    border: 1px solid #E9D7FE;
    transition: all 0.5s ease-in-out;
  }
  .buttons .max-width .buttons-g1-row-4 #btn-row4-2 {
    width: 110px;
    height: 40px;
  }
  .buttons .max-width .buttons-g1-row-4 #btn-row4-3 {
    width: 125px;
    height: 44px;
  }
  .buttons .max-width .buttons-g1-row-4 #btn-row4-4 {
    width: 129px;
    height: 48px;
  }
  .buttons .max-width .buttons-g1-row-4 #btn-row4-5 {
    width: 156px;
    height: 60px;
  }
  

  /* Group 2 All Styling */
  .button-group-two{
    margin-top: 30px;
    /* border: 1px solid; */
  }

  .buttons .max-width .buttons-g2-row-1,
  .buttons .max-width .buttons-g2-row-2,
  .buttons .max-width .buttons-g2-row-3,
  .buttons .max-width .buttons-g2-row-4 {
    display: flex;
    gap: 31px;
  
  }
  .buttons .max-width .buttons-g2-row-1 .btn-g2,
  .buttons .max-width .buttons-g2-row-2 .btn-g2,
  .buttons .max-width .buttons-g2-row-3 .btn-g2,
  .buttons .max-width .buttons-g2-row-4 .btn-g2 {
    border: none;
    width: 106px;
    height: 36px;
    border-radius: 8px;
    background-color: #F9F5FF;
    color: #6941C6;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    margin-top: 16px;
    margin-bottom: 5px;
  }


/* ROW 1 */

.buttons .max-width .button-group-two .buttons-g2-row-1 .btn-g2 {
  background-color: #F9F5FF;
  box-shadow:0px 1px 2px 0px rgba(10, 13, 18, 0.05);

  transition: all 0.5s ease-in-out;
}


.buttons .max-width .button-group-two .buttons-g2-row-1 #btn-g2-r1-2 {
  width: 110px;
  height: 40px;
}
 .buttons .max-width .button-group-two .buttons-g2-row-1 #btn-g2-r1-3{
  width: 125px;
  height: 44px;
}
 .buttons .max-width .button-group-two .buttons-g2-row-1 #btn-g2-r1-4{
  width: 129px;
  height: 48px;
}
 .buttons .max-width .button-group-two .buttons-g2-row-1 #btn-g2-r1-5{
  width: 156px;
  height: 60px;
}

/* ROW 2 */

.buttons .max-width .button-group-two .buttons-g2-row-2 .btn-g2 {
  background-color: #F4EBFF;
  box-shadow:0px 1px 2px 0px rgba(10, 13, 18, 0.05);

  transition: all 0.5s ease-in-out;
}

  .buttons .max-width .button-group-two .buttons-g2-row-2 #btn-g2-r2-2 {
    width: 110px;
    height: 40px;
  }
   .buttons .max-width .button-group-two .buttons-g2-row-2 #btn-g2-r2-3{
    width: 125px;
    height: 44px;
  }
   .buttons .max-width .button-group-two .buttons-g2-row-2 #btn-g2-r2-4{
    width: 129px;
    height: 48px;
  }
   .buttons .max-width .button-group-two .buttons-g2-row-2 #btn-g2-r2-5{
    width: 156px;
    height: 60px;
  }

  /* ROW 3 */

  .buttons .max-width .button-group-two .buttons-g2-row-3 .btn-g2 {
    background-color: #F9F5FF;
    box-shadow:0px 0px 0px 4px rgba(244, 235, 255, 1);
    border: 1px solid #F9F5FF;
    transition: all 0.5s ease-in-out;
  }

  .buttons .max-width .button-group-two .buttons-g2-row-3 #btn-g2-r3-2 {
    width: 110px;
    height: 40px;
  }
   .buttons .max-width .button-group-two .buttons-g2-row-3 #btn-g2-r3-3{
    width: 125px;
    height: 44px;
  }
   .buttons .max-width .button-group-two .buttons-g2-row-3 #btn-g2-r3-4{
    width: 129px;
    height: 48px;
  }
   .buttons .max-width .button-group-two .buttons-g2-row-3 #btn-g2-r3-5{
    width: 156px;
    height: 60px;
  }

  /* ROW 4 */
  .buttons .max-width .button-group-two .buttons-g2-row-4 .btn-g2 {
    background-color: #FCFAFF;
    color: #D6BBFB;
    box-shadow:0px 1px 2px 0px #0A0D120D;
    transition: all 0.5s ease-in-out;
  }

  .buttons .max-width .button-group-two .buttons-g2-row-4 #btn-g2-r4-2 {
    width: 110px;
    height: 40px;
  }
   .buttons .max-width .button-group-two .buttons-g2-row-4 #btn-g2-r4-3{
    width: 125px;
    height: 44px;
  }
   .buttons .max-width .button-group-two .buttons-g2-row-4 #btn-g2-r4-4{
    width: 129px;
    height: 48px;
  }
   .buttons .max-width .button-group-two .buttons-g2-row-4 #btn-g2-r4-5{
    width: 156px;
    height: 60px;
  }

  /* ALL Hover Effects Group 2 */

  .buttons .max-width .buttons-g2-row-1 .btn-g2:hover {
    opacity: 85%;
    cursor: pointer;
      transition: all 0.5s ease-in-out;
  }
  .buttons .max-width .buttons-g2-row-2 .btn-g2:hover {
    opacity: 85%;
    cursor: pointer;
      transition: all 0.5s ease-in-out;
  }
  .buttons .max-width .buttons-g2-row-3 .btn-g2:hover {
    opacity: 100%;
    cursor: pointer;
      transition: all 0.5s ease-in-out;
  }
  .buttons .max-width .buttons-g2-row-4 .btn-g2:hover {
    opacity: 100%;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }



  /* Group three  */

  /* Group 2 All Styling */
  .button-group-two{
    margin-top: 30px;
    /* border: 1px solid; */
  }

  .buttons .max-width .buttons-g2-row-1,
  .buttons .max-width .buttons-g2-row-2,
  .buttons .max-width .buttons-g2-row-3,
  .buttons .max-width .buttons-g2-row-4 {
    display: flex;
    gap: 31px;
  
  }
  .buttons .max-width .buttons-g2-row-1 .btn-g2,
  .buttons .max-width .buttons-g2-row-2 .btn-g2,
  .buttons .max-width .buttons-g2-row-3 .btn-g2,
  .buttons .max-width .buttons-g2-row-4 .btn-g2 {
    border: none;
    width: 106px;
    height: 36px;
    border-radius: 8px;
    background-color: #F9F5FF;
    color: #6941C6;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    margin-top: 16px;
    margin-bottom: 5px;
  }


/* ROW 1 */

.buttons .max-width .button-group-two .buttons-g2-row-1 .btn-g2 {
  background-color: #F9F5FF;
  box-shadow:0px 1px 2px 0px rgba(10, 13, 18, 0.05);

  transition: all 0.5s ease-in-out;
}


.buttons .max-width .button-group-two .buttons-g2-row-1 #btn-g2-r1-2 {
  width: 110px;
  height: 40px;
}
 .buttons .max-width .button-group-two .buttons-g2-row-1 #btn-g2-r1-3{
  width: 125px;
  height: 44px;
}
 .buttons .max-width .button-group-two .buttons-g2-row-1 #btn-g2-r1-4{
  width: 129px;
  height: 48px;
}
 .buttons .max-width .button-group-two .buttons-g2-row-1 #btn-g2-r1-5{
  width: 156px;
  height: 60px;
}

/* ROW 2 */

.buttons .max-width .button-group-two .buttons-g2-row-2 .btn-g2 {
  background-color: #F4EBFF;
  box-shadow:0px 1px 2px 0px rgba(10, 13, 18, 0.05);

  transition: all 0.5s ease-in-out;
}

  .buttons .max-width .button-group-two .buttons-g2-row-2 #btn-g2-r2-2 {
    width: 110px;
    height: 40px;
  }
   .buttons .max-width .button-group-two .buttons-g2-row-2 #btn-g2-r2-3{
    width: 125px;
    height: 44px;
  }
   .buttons .max-width .button-group-two .buttons-g2-row-2 #btn-g2-r2-4{
    width: 129px;
    height: 48px;
  }
   .buttons .max-width .button-group-two .buttons-g2-row-2 #btn-g2-r2-5{
    width: 156px;
    height: 60px;
  }

  /* ROW 3 */

  .buttons .max-width .button-group-two .buttons-g2-row-3 .btn-g2 {
    background-color: #F9F5FF;
    box-shadow:0px 0px 0px 4px rgba(244, 235, 255, 1);
    border: 1px solid #F9F5FF;
    transition: all 0.5s ease-in-out;
  }

  .buttons .max-width .button-group-two .buttons-g2-row-3 #btn-g2-r3-2 {
    width: 110px;
    height: 40px;
  }
   .buttons .max-width .button-group-two .buttons-g2-row-3 #btn-g2-r3-3{
    width: 125px;
    height: 44px;
  }
   .buttons .max-width .button-group-two .buttons-g2-row-3 #btn-g2-r3-4{
    width: 129px;
    height: 48px;
  }
   .buttons .max-width .button-group-two .buttons-g2-row-3 #btn-g2-r3-5{
    width: 156px;
    height: 60px;
  }

  /* ROW 4 */
  .buttons .max-width .button-group-two .buttons-g2-row-4 .btn-g2 {
    background-color: #FCFAFF;
    color: #D6BBFB;
    box-shadow:0px 1px 2px 0px #0A0D120D;
    transition: all 0.5s ease-in-out;
  }

  .buttons .max-width .button-group-two .buttons-g2-row-4 #btn-g2-r4-2 {
    width: 110px;
    height: 40px;
  }
   .buttons .max-width .button-group-two .buttons-g2-row-4 #btn-g2-r4-3{
    width: 125px;
    height: 44px;
  }
   .buttons .max-width .button-group-two .buttons-g2-row-4 #btn-g2-r4-4{
    width: 129px;
    height: 48px;
  }
   .buttons .max-width .button-group-two .buttons-g2-row-4 #btn-g2-r4-5{
    width: 156px;
    height: 60px;
  }

  /* ALL Hover Effects Group 2 */

  .buttons .max-width .buttons-g2-row-1 .btn-g2:hover {
    opacity: 85%;
    cursor: pointer;
      transition: all 0.5s ease-in-out;
  }
  .buttons .max-width .buttons-g2-row-2 .btn-g2:hover {
    opacity: 85%;
    cursor: pointer;
      transition: all 0.5s ease-in-out;
  }
  .buttons .max-width .buttons-g2-row-3 .btn-g2:hover {
    opacity: 100%;
    cursor: pointer;
      transition: all 0.5s ease-in-out;
  }
  .buttons .max-width .buttons-g2-row-4 .btn-g2:hover {
    opacity: 100%;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }


  /* Group three  */

  /* Group 2 All Styling */
  .button-group-two{
    margin-top: 30px;
    /* border: 1px solid; */
  }

  .buttons .max-width .buttons-g2-row-1,
  .buttons .max-width .buttons-g2-row-2,
  .buttons .max-width .buttons-g2-row-3,
  .buttons .max-width .buttons-g2-row-4 {
    display: flex;
    gap: 31px;
  
  }
  .buttons .max-width .buttons-g2-row-1 .btn-g2,
  .buttons .max-width .buttons-g2-row-2 .btn-g2,
  .buttons .max-width .buttons-g2-row-3 .btn-g2,
  .buttons .max-width .buttons-g2-row-4 .btn-g2 {
    border: none;
    width: 106px;
    height: 36px;
    border-radius: 8px;
    background-color: #F9F5FF;
    color: #6941C6;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    margin-top: 16px;
    margin-bottom: 5px;
  }


/* ROW 1 */

.buttons .max-width .button-group-two .buttons-g2-row-1 .btn-g2 {
  background-color: #F9F5FF;
  box-shadow:0px 1px 2px 0px rgba(10, 13, 18, 0.05);

  transition: all 0.5s ease-in-out;
}


.buttons .max-width .button-group-two .buttons-g2-row-1 #btn-g2-r1-2 {
  width: 110px;
  height: 40px;
}
 .buttons .max-width .button-group-two .buttons-g2-row-1 #btn-g2-r1-3{
  width: 125px;
  height: 44px;
}
 .buttons .max-width .button-group-two .buttons-g2-row-1 #btn-g2-r1-4{
  width: 129px;
  height: 48px;
}
 .buttons .max-width .button-group-two .buttons-g2-row-1 #btn-g2-r1-5{
  width: 156px;
  height: 60px;
}

/* ROW 2 */

.buttons .max-width .button-group-two .buttons-g2-row-2 .btn-g2 {
  background-color: #F4EBFF;
  box-shadow:0px 1px 2px 0px rgba(10, 13, 18, 0.05);

  transition: all 0.5s ease-in-out;
}

  .buttons .max-width .button-group-two .buttons-g2-row-2 #btn-g2-r2-2 {
    width: 110px;
    height: 40px;
  }
   .buttons .max-width .button-group-two .buttons-g2-row-2 #btn-g2-r2-3{
    width: 125px;
    height: 44px;
  }
   .buttons .max-width .button-group-two .buttons-g2-row-2 #btn-g2-r2-4{
    width: 129px;
    height: 48px;
  }
   .buttons .max-width .button-group-two .buttons-g2-row-2 #btn-g2-r2-5{
    width: 156px;
    height: 60px;
  }

  /* ROW 3 */

  .buttons .max-width .button-group-two .buttons-g2-row-3 .btn-g2 {
    background-color: #F9F5FF;
    box-shadow:0px 0px 0px 4px rgba(244, 235, 255, 1);
    border: 1px solid #F9F5FF;
    transition: all 0.5s ease-in-out;
  }

  .buttons .max-width .button-group-two .buttons-g2-row-3 #btn-g2-r3-2 {
    width: 110px;
    height: 40px;
  }
   .buttons .max-width .button-group-two .buttons-g2-row-3 #btn-g2-r3-3{
    width: 125px;
    height: 44px;
  }
   .buttons .max-width .button-group-two .buttons-g2-row-3 #btn-g2-r3-4{
    width: 129px;
    height: 48px;
  }
   .buttons .max-width .button-group-two .buttons-g2-row-3 #btn-g2-r3-5{
    width: 156px;
    height: 60px;
  }

  /* ROW 4 */
  .buttons .max-width .button-group-two .buttons-g2-row-4 .btn-g2 {
    background-color: #FCFAFF;
    color: #D6BBFB;
    box-shadow:0px 1px 2px 0px #0A0D120D;
    transition: all 0.5s ease-in-out;
  }

  .buttons .max-width .button-group-two .buttons-g2-row-4 #btn-g2-r4-2 {
    width: 110px;
    height: 40px;
  }
   .buttons .max-width .button-group-two .buttons-g2-row-4 #btn-g2-r4-3{
    width: 125px;
    height: 44px;
  }
   .buttons .max-width .button-group-two .buttons-g2-row-4 #btn-g2-r4-4{
    width: 129px;
    height: 48px;
  }
   .buttons .max-width .button-group-two .buttons-g2-row-4 #btn-g2-r4-5{
    width: 156px;
    height: 60px;
  }

  /* ALL Hover Effects Group 2 */

  .buttons .max-width .buttons-g2-row-1 .btn-g2:hover {
    opacity: 85%;
    cursor: pointer;
      transition: all 0.5s ease-in-out;
  }
  .buttons .max-width .buttons-g2-row-2 .btn-g2:hover {
    opacity: 85%;
    cursor: pointer;
      transition: all 0.5s ease-in-out;
  }
  .buttons .max-width .buttons-g2-row-3 .btn-g2:hover {
    opacity: 100%;
    cursor: pointer;
      transition: all 0.5s ease-in-out;
  }
  .buttons .max-width .buttons-g2-row-4 .btn-g2:hover {
    opacity: 100%;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }


  /* Group three  */

  /* Group 2 All Styling */
  .button-group-two{
    margin-top: 30px;
    /* border: 1px solid; */
  }

  .buttons .max-width .buttons-g2-row-1,
  .buttons .max-width .buttons-g2-row-2,
  .buttons .max-width .buttons-g2-row-3,
  .buttons .max-width .buttons-g2-row-4 {
    display: flex;
    gap: 31px;
  
  }
  .buttons .max-width .buttons-g2-row-1 .btn-g2,
  .buttons .max-width .buttons-g2-row-2 .btn-g2,
  .buttons .max-width .buttons-g2-row-3 .btn-g2,
  .buttons .max-width .buttons-g2-row-4 .btn-g2 {
    border: none;
    width: 106px;
    height: 36px;
    border-radius: 8px;
    background-color: #F9F5FF;
    color: #6941C6;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    margin-top: 16px;
    margin-bottom: 5px;
  }


/* ROW 1 */

.buttons .max-width .button-group-two .buttons-g2-row-1 .btn-g2 {
  background-color: #F9F5FF;
  box-shadow:0px 1px 2px 0px rgba(10, 13, 18, 0.05);

  transition: all 0.5s ease-in-out;
}


.buttons .max-width .button-group-two .buttons-g2-row-1 #btn-g2-r1-2 {
  width: 110px;
  height: 40px;
}
 .buttons .max-width .button-group-two .buttons-g2-row-1 #btn-g2-r1-3{
  width: 125px;
  height: 44px;
}
 .buttons .max-width .button-group-two .buttons-g2-row-1 #btn-g2-r1-4{
  width: 129px;
  height: 48px;
}
 .buttons .max-width .button-group-two .buttons-g2-row-1 #btn-g2-r1-5{
  width: 156px;
  height: 60px;
}

/* ROW 2 */

.buttons .max-width .button-group-two .buttons-g2-row-2 .btn-g2 {
  background-color: #F4EBFF;
  box-shadow:0px 1px 2px 0px rgba(10, 13, 18, 0.05);

  transition: all 0.5s ease-in-out;
}

  .buttons .max-width .button-group-two .buttons-g2-row-2 #btn-g2-r2-2 {
    width: 110px;
    height: 40px;
  }
   .buttons .max-width .button-group-two .buttons-g2-row-2 #btn-g2-r2-3{
    width: 125px;
    height: 44px;
  }
   .buttons .max-width .button-group-two .buttons-g2-row-2 #btn-g2-r2-4{
    width: 129px;
    height: 48px;
  }
   .buttons .max-width .button-group-two .buttons-g2-row-2 #btn-g2-r2-5{
    width: 156px;
    height: 60px;
  }

  /* ROW 3 */

  .buttons .max-width .button-group-two .buttons-g2-row-3 .btn-g2 {
    background-color: #F9F5FF;
    box-shadow:0px 0px 0px 4px rgba(244, 235, 255, 1);
    border: 1px solid #F9F5FF;
    transition: all 0.5s ease-in-out;
  }

  .buttons .max-width .button-group-two .buttons-g2-row-3 #btn-g2-r3-2 {
    width: 110px;
    height: 40px;
  }
   .buttons .max-width .button-group-two .buttons-g2-row-3 #btn-g2-r3-3{
    width: 125px;
    height: 44px;
  }
   .buttons .max-width .button-group-two .buttons-g2-row-3 #btn-g2-r3-4{
    width: 129px;
    height: 48px;
  }
   .buttons .max-width .button-group-two .buttons-g2-row-3 #btn-g2-r3-5{
    width: 156px;
    height: 60px;
  }

  /* ROW 4 */
  .buttons .max-width .button-group-two .buttons-g2-row-4 .btn-g2 {
    background-color: #FCFAFF;
    color: #D6BBFB;
    box-shadow:0px 1px 2px 0px #0A0D120D;
    transition: all 0.5s ease-in-out;
  }

  .buttons .max-width .button-group-two .buttons-g2-row-4 #btn-g2-r4-2 {
    width: 110px;
    height: 40px;
  }
   .buttons .max-width .button-group-two .buttons-g2-row-4 #btn-g2-r4-3{
    width: 125px;
    height: 44px;
  }
   .buttons .max-width .button-group-two .buttons-g2-row-4 #btn-g2-r4-4{
    width: 129px;
    height: 48px;
  }
   .buttons .max-width .button-group-two .buttons-g2-row-4 #btn-g2-r4-5{
    width: 156px;
    height: 60px;
  }

  /* ALL Hover Effects Group 2 */

  .buttons .max-width .buttons-g2-row-1 .btn-g2:hover {
    opacity: 85%;
    cursor: pointer;
      transition: all 0.5s ease-in-out;
  }
  .buttons .max-width .buttons-g2-row-2 .btn-g2:hover {
    opacity: 85%;
    cursor: pointer;
      transition: all 0.5s ease-in-out;
  }
  .buttons .max-width .buttons-g2-row-3 .btn-g2:hover {
    opacity: 100%;
    cursor: pointer;
      transition: all 0.5s ease-in-out;
  }
  .buttons .max-width .buttons-g2-row-4 .btn-g2:hover {
    opacity: 100%;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }


  /* Group three  */

  /* Group 2 All Styling */
  .button-group-two{
    margin-top: 30px;
    /* border: 1px solid; */
  }

  .buttons .max-width .buttons-g2-row-1,
  .buttons .max-width .buttons-g2-row-2,
  .buttons .max-width .buttons-g2-row-3,
  .buttons .max-width .buttons-g2-row-4 {
    display: flex;
    gap: 31px;
  
  }
  .buttons .max-width .buttons-g2-row-1 .btn-g2,
  .buttons .max-width .buttons-g2-row-2 .btn-g2,
  .buttons .max-width .buttons-g2-row-3 .btn-g2,
  .buttons .max-width .buttons-g2-row-4 .btn-g2 {
    border: none;
    width: 106px;
    height: 36px;
    border-radius: 8px;
    background-color: #F9F5FF;
    color: #6941C6;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    margin-top: 16px;
    margin-bottom: 5px;
  }


/* ROW 1 */

.buttons .max-width .button-group-two .buttons-g2-row-1 .btn-g2 {
  background-color: #F9F5FF;
  box-shadow:0px 1px 2px 0px rgba(10, 13, 18, 0.05);

  transition: all 0.5s ease-in-out;
}


.buttons .max-width .button-group-two .buttons-g2-row-1 #btn-g2-r1-2 {
  width: 110px;
  height: 40px;
}
 .buttons .max-width .button-group-two .buttons-g2-row-1 #btn-g2-r1-3{
  width: 125px;
  height: 44px;
}
 .buttons .max-width .button-group-two .buttons-g2-row-1 #btn-g2-r1-4{
  width: 129px;
  height: 48px;
}
 .buttons .max-width .button-group-two .buttons-g2-row-1 #btn-g2-r1-5{
  width: 156px;
  height: 60px;
}

/* ROW 2 */

.buttons .max-width .button-group-two .buttons-g2-row-2 .btn-g2 {
  background-color: #F4EBFF;
  box-shadow:0px 1px 2px 0px rgba(10, 13, 18, 0.05);

  transition: all 0.5s ease-in-out;
}

  .buttons .max-width .button-group-two .buttons-g2-row-2 #btn-g2-r2-2 {
    width: 110px;
    height: 40px;
  }
   .buttons .max-width .button-group-two .buttons-g2-row-2 #btn-g2-r2-3{
    width: 125px;
    height: 44px;
  }
   .buttons .max-width .button-group-two .buttons-g2-row-2 #btn-g2-r2-4{
    width: 129px;
    height: 48px;
  }
   .buttons .max-width .button-group-two .buttons-g2-row-2 #btn-g2-r2-5{
    width: 156px;
    height: 60px;
  }

  /* ROW 3 */

  .buttons .max-width .button-group-two .buttons-g2-row-3 .btn-g2 {
    background-color: #F9F5FF;
    box-shadow:0px 0px 0px 4px rgba(244, 235, 255, 1);
    border: 1px solid #F9F5FF;
    transition: all 0.5s ease-in-out;
  }

  .buttons .max-width .button-group-two .buttons-g2-row-3 #btn-g2-r3-2 {
    width: 110px;
    height: 40px;
  }
   .buttons .max-width .button-group-two .buttons-g2-row-3 #btn-g2-r3-3{
    width: 125px;
    height: 44px;
  }
   .buttons .max-width .button-group-two .buttons-g2-row-3 #btn-g2-r3-4{
    width: 129px;
    height: 48px;
  }
   .buttons .max-width .button-group-two .buttons-g2-row-3 #btn-g2-r3-5{
    width: 156px;
    height: 60px;
  }

  /* ROW 4 */
  .buttons .max-width .button-group-two .buttons-g2-row-4 .btn-g2 {
    background-color: #FCFAFF;
    color: #D6BBFB;
    box-shadow:0px 1px 2px 0px #0A0D120D;
    transition: all 0.5s ease-in-out;
  }

  .buttons .max-width .button-group-two .buttons-g2-row-4 #btn-g2-r4-2 {
    width: 110px;
    height: 40px;
  }
   .buttons .max-width .button-group-two .buttons-g2-row-4 #btn-g2-r4-3{
    width: 125px;
    height: 44px;
  }
   .buttons .max-width .button-group-two .buttons-g2-row-4 #btn-g2-r4-4{
    width: 129px;
    height: 48px;
  }
   .buttons .max-width .button-group-two .buttons-g2-row-4 #btn-g2-r4-5{
    width: 156px;
    height: 60px;
  }

  /* ALL Hover Effects Group 2 */

  .buttons .max-width .buttons-g2-row-1 .btn-g2:hover {
    opacity: 85%;
    cursor: pointer;
      transition: all 0.5s ease-in-out;
  }
  .buttons .max-width .buttons-g2-row-2 .btn-g2:hover {
    opacity: 85%;
    cursor: pointer;
      transition: all 0.5s ease-in-out;
  }
  .buttons .max-width .buttons-g2-row-3 .btn-g2:hover {
    opacity: 100%;
    cursor: pointer;
      transition: all 0.5s ease-in-out;
  }
  .buttons .max-width .buttons-g2-row-4 .btn-g2:hover {
    opacity: 100%;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }


  /* Group three  */

  /* Group 2 All Styling */
  .button-group-two{
    margin-top: 30px;
    /* border: 1px solid; */
  }

  .buttons .max-width .buttons-g2-row-1,
  .buttons .max-width .buttons-g2-row-2,
  .buttons .max-width .buttons-g2-row-3,
  .buttons .max-width .buttons-g2-row-4 {
    display: flex;
    gap: 31px;
  
  }
  .buttons .max-width .buttons-g2-row-1 .btn-g2,
  .buttons .max-width .buttons-g2-row-2 .btn-g2,
  .buttons .max-width .buttons-g2-row-3 .btn-g2,
  .buttons .max-width .buttons-g2-row-4 .btn-g2 {
    border: none;
    width: 106px;
    height: 36px;
    border-radius: 8px;
    background-color: #F9F5FF;
    color: #6941C6;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    margin-top: 16px;
    margin-bottom: 5px;
  }


/* ROW 1 */

.buttons .max-width .button-group-two .buttons-g2-row-1 .btn-g2 {
  background-color: #F9F5FF;
  box-shadow:0px 1px 2px 0px rgba(10, 13, 18, 0.05);

  transition: all 0.5s ease-in-out;
}


.buttons .max-width .button-group-two .buttons-g2-row-1 #btn-g2-r1-2 {
  width: 110px;
  height: 40px;
}
 .buttons .max-width .button-group-two .buttons-g2-row-1 #btn-g2-r1-3{
  width: 125px;
  height: 44px;
}
 .buttons .max-width .button-group-two .buttons-g2-row-1 #btn-g2-r1-4{
  width: 129px;
  height: 48px;
}
 .buttons .max-width .button-group-two .buttons-g2-row-1 #btn-g2-r1-5{
  width: 156px;
  height: 60px;
}

/* ROW 2 */

.buttons .max-width .button-group-two .buttons-g2-row-2 .btn-g2 {
  background-color: #F4EBFF;
  box-shadow:0px 1px 2px 0px rgba(10, 13, 18, 0.05);

  transition: all 0.5s ease-in-out;
}

  .buttons .max-width .button-group-two .buttons-g2-row-2 #btn-g2-r2-2 {
    width: 110px;
    height: 40px;
  }
   .buttons .max-width .button-group-two .buttons-g2-row-2 #btn-g2-r2-3{
    width: 125px;
    height: 44px;
  }
   .buttons .max-width .button-group-two .buttons-g2-row-2 #btn-g2-r2-4{
    width: 129px;
    height: 48px;
  }
   .buttons .max-width .button-group-two .buttons-g2-row-2 #btn-g2-r2-5{
    width: 156px;
    height: 60px;
  }

  /* ROW 3 */

  .buttons .max-width .button-group-two .buttons-g2-row-3 .btn-g2 {
    background-color: #F9F5FF;
    box-shadow:0px 0px 0px 4px rgba(244, 235, 255, 1);
    border: 1px solid #F9F5FF;
    transition: all 0.5s ease-in-out;
  }

  .buttons .max-width .button-group-two .buttons-g2-row-3 #btn-g2-r3-2 {
    width: 110px;
    height: 40px;
  }
   .buttons .max-width .button-group-two .buttons-g2-row-3 #btn-g2-r3-3{
    width: 125px;
    height: 44px;
  }
   .buttons .max-width .button-group-two .buttons-g2-row-3 #btn-g2-r3-4{
    width: 129px;
    height: 48px;
  }
   .buttons .max-width .button-group-two .buttons-g2-row-3 #btn-g2-r3-5{
    width: 156px;
    height: 60px;
  }

  /* ROW 4 */
  .buttons .max-width .button-group-two .buttons-g2-row-4 .btn-g2 {
    background-color: #FCFAFF;
    color: #D6BBFB;
    box-shadow:0px 1px 2px 0px #0A0D120D;
    transition: all 0.5s ease-in-out;
  }

  .buttons .max-width .button-group-two .buttons-g2-row-4 #btn-g2-r4-2 {
    width: 110px;
    height: 40px;
  }
   .buttons .max-width .button-group-two .buttons-g2-row-4 #btn-g2-r4-3{
    width: 125px;
    height: 44px;
  }
   .buttons .max-width .button-group-two .buttons-g2-row-4 #btn-g2-r4-4{
    width: 129px;
    height: 48px;
  }
   .buttons .max-width .button-group-two .buttons-g2-row-4 #btn-g2-r4-5{
    width: 156px;
    height: 60px;
  }

  /* ALL Hover Effects Group 2 */

  .buttons .max-width .buttons-g2-row-1 .btn-g2:hover {
    opacity: 85%;
    cursor: pointer;
      transition: all 0.5s ease-in-out;
  }
  .buttons .max-width .buttons-g2-row-2 .btn-g2:hover {
    opacity: 85%;
    cursor: pointer;
      transition: all 0.5s ease-in-out;
  }
  .buttons .max-width .buttons-g2-row-3 .btn-g2:hover {
    opacity: 100%;
    cursor: pointer;
      transition: all 0.5s ease-in-out;
  }
  .buttons .max-width .buttons-g2-row-4 .btn-g2:hover {
    opacity: 100%;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }


  /* Group three  */

  /* Group 2 All Styling */
  .button-group-two{
    margin-top: 30px;
    /* border: 1px solid; */
  }

  .buttons .max-width .buttons-g2-row-1,
  .buttons .max-width .buttons-g2-row-2,
  .buttons .max-width .buttons-g2-row-3,
  .buttons .max-width .buttons-g2-row-4 {
    display: flex;
    gap: 31px;
  
  }
  .buttons .max-width .buttons-g2-row-1 .btn-g2,
  .buttons .max-width .buttons-g2-row-2 .btn-g2,
  .buttons .max-width .buttons-g2-row-3 .btn-g2,
  .buttons .max-width .buttons-g2-row-4 .btn-g2 {
    border: none;
    width: 106px;
    height: 36px;
    border-radius: 8px;
    background-color: #F9F5FF;
    color: #6941C6;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    margin-top: 16px;
    margin-bottom: 5px;
  }


/* ROW 1 */

.buttons .max-width .button-group-two .buttons-g2-row-1 .btn-g2 {
  background-color: #F9F5FF;
  box-shadow:0px 1px 2px 0px rgba(10, 13, 18, 0.05);

  transition: all 0.5s ease-in-out;
}


.buttons .max-width .button-group-two .buttons-g2-row-1 #btn-g2-r1-2 {
  width: 110px;
  height: 40px;
}
 .buttons .max-width .button-group-two .buttons-g2-row-1 #btn-g2-r1-3{
  width: 125px;
  height: 44px;
}
 .buttons .max-width .button-group-two .buttons-g2-row-1 #btn-g2-r1-4{
  width: 129px;
  height: 48px;
}
 .buttons .max-width .button-group-two .buttons-g2-row-1 #btn-g2-r1-5{
  width: 156px;
  height: 60px;
}

/* ROW 2 */

.buttons .max-width .button-group-two .buttons-g2-row-2 .btn-g2 {
  background-color: #F4EBFF;
  box-shadow:0px 1px 2px 0px rgba(10, 13, 18, 0.05);

  transition: all 0.5s ease-in-out;
}

  .buttons .max-width .button-group-two .buttons-g2-row-2 #btn-g2-r2-2 {
    width: 110px;
    height: 40px;
  }
   .buttons .max-width .button-group-two .buttons-g2-row-2 #btn-g2-r2-3{
    width: 125px;
    height: 44px;
  }
   .buttons .max-width .button-group-two .buttons-g2-row-2 #btn-g2-r2-4{
    width: 129px;
    height: 48px;
  }
   .buttons .max-width .button-group-two .buttons-g2-row-2 #btn-g2-r2-5{
    width: 156px;
    height: 60px;
  }

  /* ROW 3 */

  .buttons .max-width .button-group-two .buttons-g2-row-3 .btn-g2 {
    background-color: #F9F5FF;
    box-shadow:0px 0px 0px 4px rgba(244, 235, 255, 1);
    border: 1px solid #F9F5FF;
    transition: all 0.5s ease-in-out;
  }

  .buttons .max-width .button-group-two .buttons-g2-row-3 #btn-g2-r3-2 {
    width: 110px;
    height: 40px;
  }
   .buttons .max-width .button-group-two .buttons-g2-row-3 #btn-g2-r3-3{
    width: 125px;
    height: 44px;
  }
   .buttons .max-width .button-group-two .buttons-g2-row-3 #btn-g2-r3-4{
    width: 129px;
    height: 48px;
  }
   .buttons .max-width .button-group-two .buttons-g2-row-3 #btn-g2-r3-5{
    width: 156px;
    height: 60px;
  }

  /* ROW 4 */
  .buttons .max-width .button-group-two .buttons-g2-row-4 .btn-g2 {
    background-color: #FCFAFF;
    color: #D6BBFB;
    box-shadow:0px 1px 2px 0px #0A0D120D;
    transition: all 0.5s ease-in-out;
  }

  .buttons .max-width .button-group-two .buttons-g2-row-4 #btn-g2-r4-2 {
    width: 110px;
    height: 40px;
  }
   .buttons .max-width .button-group-two .buttons-g2-row-4 #btn-g2-r4-3{
    width: 125px;
    height: 44px;
  }
   .buttons .max-width .button-group-two .buttons-g2-row-4 #btn-g2-r4-4{
    width: 129px;
    height: 48px;
  }
   .buttons .max-width .button-group-two .buttons-g2-row-4 #btn-g2-r4-5{
    width: 156px;
    height: 60px;
  }

  /* ALL Hover Effects Group 2 */

  .buttons .max-width .buttons-g2-row-1 .btn-g2:hover {
    opacity: 85%;
    cursor: pointer;
      transition: all 0.5s ease-in-out;
  }
  .buttons .max-width .buttons-g2-row-2 .btn-g2:hover {
    opacity: 85%;
    cursor: pointer;
      transition: all 0.5s ease-in-out;
  }
  .buttons .max-width .buttons-g2-row-3 .btn-g2:hover {
    opacity: 100%;
    cursor: pointer;
      transition: all 0.5s ease-in-out;
  }
  .buttons .max-width .buttons-g2-row-4 .btn-g2:hover {
    opacity: 100%;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }


  /* Group three  */

  /* Group 2 All Styling */
  .button-group-two{
    margin-top: 30px;
    /* border: 1px solid; */
  }

  .buttons .max-width .buttons-g2-row-1,
  .buttons .max-width .buttons-g2-row-2,
  .buttons .max-width .buttons-g2-row-3,
  .buttons .max-width .buttons-g2-row-4 {
    display: flex;
    gap: 31px;
  
  }
  .buttons .max-width .buttons-g2-row-1 .btn-g2,
  .buttons .max-width .buttons-g2-row-2 .btn-g2,
  .buttons .max-width .buttons-g2-row-3 .btn-g2,
  .buttons .max-width .buttons-g2-row-4 .btn-g2 {
    border: none;
    width: 106px;
    height: 36px;
    border-radius: 8px;
    background-color: #F9F5FF;
    color: #6941C6;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    margin-top: 16px;
    margin-bottom: 5px;
  }


/* ROW 1 */

.buttons .max-width .button-group-two .buttons-g2-row-1 .btn-g2 {
  background-color: #F9F5FF;
  box-shadow:0px 1px 2px 0px rgba(10, 13, 18, 0.05);

  transition: all 0.5s ease-in-out;
}


.buttons .max-width .button-group-two .buttons-g2-row-1 #btn-g2-r1-2 {
  width: 110px;
  height: 40px;
}
 .buttons .max-width .button-group-two .buttons-g2-row-1 #btn-g2-r1-3{
  width: 125px;
  height: 44px;
}
 .buttons .max-width .button-group-two .buttons-g2-row-1 #btn-g2-r1-4{
  width: 129px;
  height: 48px;
}
 .buttons .max-width .button-group-two .buttons-g2-row-1 #btn-g2-r1-5{
  width: 156px;
  height: 60px;
}

/* ROW 2 */

.buttons .max-width .button-group-two .buttons-g2-row-2 .btn-g2 {
  background-color: #F4EBFF;
  box-shadow:0px 1px 2px 0px rgba(10, 13, 18, 0.05);

  transition: all 0.5s ease-in-out;
}

  .buttons .max-width .button-group-two .buttons-g2-row-2 #btn-g2-r2-2 {
    width: 110px;
    height: 40px;
  }
   .buttons .max-width .button-group-two .buttons-g2-row-2 #btn-g2-r2-3{
    width: 125px;
    height: 44px;
  }
   .buttons .max-width .button-group-two .buttons-g2-row-2 #btn-g2-r2-4{
    width: 129px;
    height: 48px;
  }
   .buttons .max-width .button-group-two .buttons-g2-row-2 #btn-g2-r2-5{
    width: 156px;
    height: 60px;
  }

  /* ROW 3 */

  .buttons .max-width .button-group-two .buttons-g2-row-3 .btn-g2 {
    background-color: #F9F5FF;
    box-shadow:0px 0px 0px 4px rgba(244, 235, 255, 1);
    border: 1px solid #F9F5FF;
    transition: all 0.5s ease-in-out;
  }

  .buttons .max-width .button-group-two .buttons-g2-row-3 #btn-g2-r3-2 {
    width: 110px;
    height: 40px;
  }
   .buttons .max-width .button-group-two .buttons-g2-row-3 #btn-g2-r3-3{
    width: 125px;
    height: 44px;
  }
   .buttons .max-width .button-group-two .buttons-g2-row-3 #btn-g2-r3-4{
    width: 129px;
    height: 48px;
  }
   .buttons .max-width .button-group-two .buttons-g2-row-3 #btn-g2-r3-5{
    width: 156px;
    height: 60px;
  }

  /* ROW 4 */
  .buttons .max-width .button-group-two .buttons-g2-row-4 .btn-g2 {
    background-color: #FCFAFF;
    color: #D6BBFB;
    box-shadow:0px 1px 2px 0px #0A0D120D;
    transition: all 0.5s ease-in-out;
  }

  .buttons .max-width .button-group-two .buttons-g2-row-4 #btn-g2-r4-2 {
    width: 110px;
    height: 40px;
  }
   .buttons .max-width .button-group-two .buttons-g2-row-4 #btn-g2-r4-3{
    width: 125px;
    height: 44px;
  }
   .buttons .max-width .button-group-two .buttons-g2-row-4 #btn-g2-r4-4{
    width: 129px;
    height: 48px;
  }
   .buttons .max-width .button-group-two .buttons-g2-row-4 #btn-g2-r4-5{
    width: 156px;
    height: 60px;
  }

  /* ALL Hover Effects Group 2 */

  .buttons .max-width .buttons-g2-row-1 .btn-g2:hover {
    opacity: 85%;
    cursor: pointer;
      transition: all 0.5s ease-in-out;
  }
  .buttons .max-width .buttons-g2-row-2 .btn-g2:hover {
    opacity: 85%;
    cursor: pointer;
      transition: all 0.5s ease-in-out;
  }
  .buttons .max-width .buttons-g2-row-3 .btn-g2:hover {
    opacity: 100%;
    cursor: pointer;
      transition: all 0.5s ease-in-out;
  }
  .buttons .max-width .buttons-g2-row-4 .btn-g2:hover {
    opacity: 100%;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }


  /* Group three  */

  /* Group 2 All Styling */
  .button-group-two{
    margin-top: 30px;
    /* border: 1px solid; */
  }

  .buttons .max-width .buttons-g2-row-1,
  .buttons .max-width .buttons-g2-row-2,
  .buttons .max-width .buttons-g2-row-3,
  .buttons .max-width .buttons-g2-row-4 {
    display: flex;
    gap: 31px;
  
  }
  .buttons .max-width .buttons-g2-row-1 .btn-g2,
  .buttons .max-width .buttons-g2-row-2 .btn-g2,
  .buttons .max-width .buttons-g2-row-3 .btn-g2,
  .buttons .max-width .buttons-g2-row-4 .btn-g2 {
    border: none;
    width: 106px;
    height: 36px;
    border-radius: 8px;
    background-color: #F9F5FF;
    color: #6941C6;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    margin-top: 16px;
    margin-bottom: 5px;
  }


/* ROW 1 */

.buttons .max-width .button-group-two .buttons-g2-row-1 .btn-g2 {
  background-color: #F9F5FF;
  box-shadow:0px 1px 2px 0px rgba(10, 13, 18, 0.05);

  transition: all 0.5s ease-in-out;
}


.buttons .max-width .button-group-two .buttons-g2-row-1 #btn-g2-r1-2 {
  width: 110px;
  height: 40px;
}
 .buttons .max-width .button-group-two .buttons-g2-row-1 #btn-g2-r1-3{
  width: 125px;
  height: 44px;
}
 .buttons .max-width .button-group-two .buttons-g2-row-1 #btn-g2-r1-4{
  width: 129px;
  height: 48px;
}
 .buttons .max-width .button-group-two .buttons-g2-row-1 #btn-g2-r1-5{
  width: 156px;
  height: 60px;
}

/* ROW 2 */

.buttons .max-width .button-group-two .buttons-g2-row-2 .btn-g2 {
  background-color: #F4EBFF;
  box-shadow:0px 1px 2px 0px rgba(10, 13, 18, 0.05);

  transition: all 0.5s ease-in-out;
}

  .buttons .max-width .button-group-two .buttons-g2-row-2 #btn-g2-r2-2 {
    width: 110px;
    height: 40px;
  }
   .buttons .max-width .button-group-two .buttons-g2-row-2 #btn-g2-r2-3{
    width: 125px;
    height: 44px;
  }
   .buttons .max-width .button-group-two .buttons-g2-row-2 #btn-g2-r2-4{
    width: 129px;
    height: 48px;
  }
   .buttons .max-width .button-group-two .buttons-g2-row-2 #btn-g2-r2-5{
    width: 156px;
    height: 60px;
  }

  /* ROW 3 */

  .buttons .max-width .button-group-two .buttons-g2-row-3 .btn-g2 {
    background-color: #F9F5FF;
    box-shadow:0px 0px 0px 4px rgba(244, 235, 255, 1);
    border: 1px solid #F9F5FF;
    transition: all 0.5s ease-in-out;
  }

  .buttons .max-width .button-group-two .buttons-g2-row-3 #btn-g2-r3-2 {
    width: 110px;
    height: 40px;
  }
   .buttons .max-width .button-group-two .buttons-g2-row-3 #btn-g2-r3-3{
    width: 125px;
    height: 44px;
  }
   .buttons .max-width .button-group-two .buttons-g2-row-3 #btn-g2-r3-4{
    width: 129px;
    height: 48px;
  }
   .buttons .max-width .button-group-two .buttons-g2-row-3 #btn-g2-r3-5{
    width: 156px;
    height: 60px;
  }

  /* ROW 4 */
  .buttons .max-width .button-group-two .buttons-g2-row-4 .btn-g2 {
    background-color: #FCFAFF;
    color: #D6BBFB;
    box-shadow:0px 1px 2px 0px #0A0D120D;
    transition: all 0.5s ease-in-out;
  }

  .buttons .max-width .button-group-two .buttons-g2-row-4 #btn-g2-r4-2 {
    width: 110px;
    height: 40px;
  }
   .buttons .max-width .button-group-two .buttons-g2-row-4 #btn-g2-r4-3{
    width: 125px;
    height: 44px;
  }
   .buttons .max-width .button-group-two .buttons-g2-row-4 #btn-g2-r4-4{
    width: 129px;
    height: 48px;
  }
   .buttons .max-width .button-group-two .buttons-g2-row-4 #btn-g2-r4-5{
    width: 156px;
    height: 60px;
  }

  /* ALL Hover Effects Group 2 */

  .buttons .max-width .buttons-g2-row-1 .btn-g2:hover {
    opacity: 85%;
    cursor: pointer;
      transition: all 0.5s ease-in-out;
  }
  .buttons .max-width .buttons-g2-row-2 .btn-g2:hover {
    opacity: 85%;
    cursor: pointer;
      transition: all 0.5s ease-in-out;
  }
  .buttons .max-width .buttons-g2-row-3 .btn-g2:hover {
    opacity: 100%;
    cursor: pointer;
      transition: all 0.5s ease-in-out;
  }
  .buttons .max-width .buttons-g2-row-4 .btn-g2:hover {
    opacity: 100%;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }


